*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
    background: hsl(217, 100%, 97%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 16px;
}

.container{
    background: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 750px;
    padding: 15px;
    border-radius: 10px;
    position: relative;
}

.side-bar{
    border-radius: 10px;
    background-image: url(./assets/images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 230px;
    margin-right: 70px;
}

.step{
    display: flex;
    margin: 0;
    padding-top: 30px;
    padding-left: 30px;
    align-items: center;
}

.number{
    border: solid 1px white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    color: white;
}

.step-items{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    color: white;
    gap: 5px;
}

.label {
    font-size: 13px;
    color: hsl(231, 11%, 63%);
}

.number.active{
    background: hsl(217, 100%, 97%);
    color: hsl(213, 96%, 18%);
}

.stage {
    font-size: 13px;
    font-weight: 500;
}

.navigation {
    position: absolute;
    top:90%;
    display: flex;
}

.go-back-btn{
    background: transparent;
    border: none;
    color: hsl(231, 11%, 63%);
    font-weight: 500;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    left: 300px;
}

.go-back-btn:hover{
    color:hsl(213, 96%, 18%);
}

.next-btn,
.confirm-btn{
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    background: hsl(213, 96%, 18%);
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    left: 600px;
}

.next-btn:hover{
    background: hsl(213, 96%, 18%, .9);
}

.confirm-btn:hover{
    background: hsl(213, 96%, 18%, .5)
}

.invisible {
    display: none;
}

.heading{
    color: hsl(213, 96%, 18%);
    margin: 20px 0 5px;
}

.description{
    color: hsl(231, 11%, 63%);
    margin-bottom: 25px;
}

.form label, .form span{
    color: hsl(213, 96%, 18%);
    font-size: 14px;
}

.form label:nth-of-type(1){
    margin-right: 56px;
}

.form label:nth-of-type(2){
    margin-right: 3px;
}

.form span{
    color: hsl(354, 84%, 57%);
    font-weight: bold;
    position: relative;
    left: 155px;
    font-size: 12px;
}

input{
    outline: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid hsl(229, 24%, 87%);
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: bold;
    color: hsl(213, 96%, 18%);
    width: 380px;
    background: transparent;
    fill: none;
    cursor: pointer;
}

input:focus{
    border: 1px solid hsl(243, 100%, 62%);
}

.plan-container{
    display: flex;
    gap: 15px;
}
.plan-container div{
    border: 1px solid hsl(229, 24%, 87%);
    border-radius: 5px;
    padding: 10px;
}

.plan-container div:hover{
    border: 1px solid hsl(243, 100%, 62%);
    cursor: pointer;
}

.option{
    font-weight: bold;
    color: hsl(213, 96%, 18%);
    margin-top: 20px;
    margin-bottom: 5px;
}

.price{
    color: hsl(231, 11%, 63%);
    font-size: 13px;
    margin-bottom: 5px; 
}

.discount{
    color: hsl(213, 96%, 18%);
    font-weight: bold;
    font-size: 12px;
}

.plan-type{
    display: flex;
    background: hsl(217, 100%, 97%);
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 30px;
    border-radius: 5px;
    gap: 20px;
    max-width: 340px;
}

.monthly, .yearly{
    color: hsl(213, 96%, 18%);
    font-weight: bold;
    font-size: 14px;
}

.yearly{
    color: hsl(231, 11%, 63%);
}

.button{
    background: hsl(213, 96%, 18%);
    width: 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 2px;
    cursor: pointer;
}

.button.clicked{
    justify-content: start;
}

.switch{
    background: #fff;
    height: 13px;
    width: 13px;
    border-radius: 13px;
}